# Ignore homework solution related files
Tricky_questions.md
/x_Written_Assignments/*
/x_Projects/*
/z_CS7637_Lectures/*

# Mac generated resource fork files
._*
~$*
*DS_Store
*Icon?*

# Python
__pycache__/
*.py[cod]
*$py.class

# Cache & data
/cache/
/*_cache/
